---
import Layout from "@/layouts/Layout.astro";
import BlogCard from "@/components/elements/BlogCard";
import { fetchAllBlogPosts } from "./[slug].astro";

const articles = await fetchAllBlogPosts();
---

<Layout>
	<section class="container grid items-center gap-6 pb-8 pt-6 md:py-10 mx-auto">
		<h1 class="text-2xl font-bold">記事一覧</h1>
		<div class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:gap-4">
			{articles.map((article) => {
				return (
					<BlogCard
						url={`/blog/${article.slug}`}
						imgSrc={article._embedded['wp:featuredmedia'][0].source_url}
						title={article.title.rendered}
					/>
				)
			})}
		</div>
	</section>
</Layout>